{% extends '::fredi/base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-title">
            <h3>Bordereau</h3>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover table-checkable table-responsive">
        <thead>
            <tr class="info">
                <th>Date</th>
                <th>Reason</th>
                <th>Journey</th>
                <th>Km</th>
                <th>Journeycost</th>
                <th>Toll</th>
                <th>Meal</th>
                <th>Accommodation</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cost in costs %}
            <tr>
                <td>{% if cost.date %}{{ cost.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ cost.reason }}</td>
                <td>{{ cost.journey }}</td>
                <td>{{ cost.km }}</td>
                <td>{{ cost.journeyCost }}</td>
                <td>{{ cost.toll }}</td>
                <td>{{ cost.meal }}</td>
                <td>{{ cost.accommodation }}</td>
                <td>{{ cost.total }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cost_show', { 'id': cost.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cost_edit', { 'id': cost.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('cost_new') }}" class="btn btn-success">Ajouter une note de frais</a>
{% endblock %}
