{% extends '::fredi/base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-title">
            <h3>Bordereau</h3>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover table-checkable table-responsive">
        <thead>
            <tr class="info">
                <th>Date</th>
                <th>Motif</th>
                <th>Ville de départ</th>
                <th>Ville d'arrivée</th>
                <th>Distance</th>
                <th>Prix du voyage</th>
                <th>Péage</th>
                <th>Repas</th>
                <th>Hébergement</th>
                <th>Total</th>
                <th>Actions</th>
             </tr>
         </thead>
         <tbody>
            {% for costLine in costs %}
                <tr>
                    <td>{% if costLine.cost.date %}{{ costLine.cost.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ costLine.cost.reason.name }}</td>
                    <td>{{ costLine.cityStart }}</td>
                    <td>{{ costLine.cityEnd }}</td>
                    <td>{{ costLine.distance }}</td>
                    <td>{{ costLine.journeyCost }}</td>
                    <td>{{ costLine.toll }}</td>
                    <td>{{ costLine.meal }}</td>
                    <td>{{ costLine.accommodation }}</td>
                    <td>{{ costLine.total }}</td>
                    <td>
                        <ul>
                            <li style="list-style-type:none;">
                                <a href="{{ path('cost_show', { 'id': costLine.id }) }}" class="btn btn-primary">Aperçu</a>
                            </li>
                            <li style="list-style-type:none;">
                            <a href="{{ path('cost_edit', { 'id': costLine.id }) }}" class="btn btn-primary pull-left">Modifier</a>
                            </li>
                         </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
