{% extends '::fredi/base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-title">
            <h3>Cost</h3>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover table-checkable table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ costLine.cost.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if costLine.cost.date %}{{ costLine.cost.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ville de Départ</th>
                <td>{{ costLine.cityStart }}</td>
            </tr>
            <tr>
                <th>Ville d'arrivée</th>
                <td>{{ costLine.cityEnd }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ costLine.distance }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ costLine.cost.reason.name }}</td>
            </tr>
            <tr>
                <th>Prix du voyage</th>
                <td>{{ costLine.journeyCost }}</td>
            </tr>
            <tr>
                <th>Péage</th>
                <td>{{ costLine.toll }}</td>
            </tr>
            <tr>
                <th>Repas</th>
                <td>{{ costLine.meal }}</td>
            </tr>
            <tr>
                <th>Hébergement</th>
                <td>{{ costLine.accommodation }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ costLine.total }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('cost_index', { 'associationUniqueId': associationUniqueId }) }}" class="btn btn-success pull-left">Retour</a>
    <a href="{{ path('cost_edit', { 'id': costLine.id, 'associationUniqueId': associationUniqueId }) }}" class="btn btn-primary pull-left">Modifier</a>
{% endblock %}
