{% extends '::fredi/base.html.twig' %}

{% block body %}
    <h1>Reservation list</h1>

    <table class="table table-striped table-bordered table-hover table-checkable table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Nbjours</th>
                <th>Nbpersonnes</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td>{% if reservation.reservationLine.date %}{{ reservation.reservationLine.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reservation.nbJours }}</td>
                <td>{{ reservation.nbPersonnes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
