{% extends 'base.html.twig' %}

{% block body %}
    <h1>ReservationLine</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservationLine.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if reservationLine.date %}{{ reservationLine.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservationline_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reservationline_edit', { 'id': reservationLine.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
